name: CI

on:
  push:
    branches:
      - main

env:
  RUSTUP_TOOLCHAIN: 1.71.0

jobs:
  dist:
    name: Build rust-std-hermit distribution artifacts
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - name: Checkout rust
        uses: actions/checkout@v3
        with:
          repository: hermitcore/rust
          ref: hermit-${{ env.RUSTUP_TOOLCHAIN }}
          fetch-depth: 0
          path: rust
      - run: git reset ${{ env.RUSTUP_TOOLCHAIN }}
        working-directory: ./rust
      - name: Build rust-std distribution artifacts
        run: ./x.py dist --config ../rust-config.toml rust-std
        working-directory: ./rust
      - name: Create distribution artifacts
        run: |
          ./dist.sh ${{ env.RUSTUP_TOOLCHAIN }} x86_64-unknown-hermit
          ./dist.sh ${{ env.RUSTUP_TOOLCHAIN }} aarch64-unknown-hermit
      - name: Release
        uses: softprops/action-gh-release@v1
        with:
          files: |
            rust/build/dist/rust-std-${{ env.RUSTUP_TOOLCHAIN }}-x86_64-unknown-hermit.tar.gz
            rust/build/dist/rust-std-${{ env.RUSTUP_TOOLCHAIN }}-aarch64-unknown-hermit.tar.gz
          tag_name: ${{ env.RUSTUP_TOOLCHAIN }}
